.body {
	display:grid;
	grid-template-columns: 1fr;
	font-family: Arial, Helvetica, sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 38px;
	background-color: white;
	max-width: 100%;
	height: auto;
}
.left{
	display: flex;
}
.navbar > .left > div{
	display: flex;
	margin-right: 20px;
	text-transform: uppercase;
}
.home{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5;
}
.home a{
	color: gray;
	text-decoration: none;
	transition: color 0.5s;
}
.home :hover{
	border-bottom: 1px solid black;
}
.home a:hover{
	color:black;
}
.right input[type=text]{
	float: right;
  padding: 6px;
  border: 1px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 1.5vw;
  background-color: bisque;
}
.navbr .right button{
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 1.5vw;
	border: none;
	cursor: pointer;
}
.navbar .right{
	float: right;
}
.items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.item {
	position: relative;
}
.img-bg {
	height: 300px;
	max-width: 100%;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}
.img-content {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding-top: 2%;


}
.name {
	margin-top: 0vw;
	padding-left: 40%;
	padding-right: 40%;
	color: cornsilk; 
	font-size: 1.2vw;
	font-weight: 650;
	position: absolute;
	top: 4vw;
}
.img-content .description{
	transition: 1s;
	color: transparent;
	font-weight: 650;
	
}
.img-content:hover .description{
	color: gold;
}
.img-darken {
	transition: 1s;
	filter: brightness(10%);
}
.description {
	font-size: 0.8vw;
	padding: 7vw;
}
p {
	display: inline;
	word-wrap: break-word;
}
.section {
	display: grid;
	grid-template-columns: 2fr 2fr;
}
.imag img{
	height: 600px;
	max-width: 100%;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	color: teal;
}
.noodle {
	font-family: Arial, Helvetica, sans-serif;
}
.Searchbar {
	display: inline;
	shape-outside: margin-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: burlywood;
	border-radius: 20px;
	border-color: teal;
	border-width: 3px;
}
.text {
	margin-left: 2px;
}
.sort {
	background-color: bisque;
	color: gray;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1vw;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-right: 2px;
  }
  
.sort:hover, .sort:focus {
	background-color: burlywood;
  }
  
.drop {
	position: relative;
	display: inline-block;
  }
  
.dropdata {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
.dropdata a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
.drop a:hover {background-color: #ddd;}
  
.show {display: block;}
