body
{/*background: #667db6*/;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); */ /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-family: 'Gotu', sans-serif;
 background-image : url("https://eatforum.org/content/uploads/2019/02/XPJ1KSHQ-1200x675.jpg"); 
 	min-height: 500px;
    background-attachment: fixed; 
    background-position: center center; 
    background-repeat: no-repeat; 
	background-size: cover;
	}
#container
{
	width: 800px;
	opacity:1;
	/*background-color: #c4c4c4;*/
	margin:0 auto;
}
h1
{
	text-align: center;
	font-family: 'Marck Script', cursive;
	color:white;
	font-size: 50px;
}
.rest
{
	padding-left: 4px;
	background-color: rgba(211, 210, 210, 0.8);
	border:1px solid black;
	margin-bottom: 5px;

	border-bottom: 2px solid black;
	/*opacity:0.5;*/
	border-radius:10px;
}
.rest:hover
{
	background-color: rgba(211, 210, 210, 1);
}

.brand
{
	color: #0a46a1;
	padding: 2px;
	font-weight: bold;
}
.brand:hover
{
	color: black;
}

.stars
{
	float: right;
	padding: 3px;
	vertical-align: top;
	top: 50px;

}
.topten
{
	color: #06235c;
}
.tags
{
	color:#06235c ;
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  border-radius:10px;
  margin-bottom: 10px;
}
li {
  display: inline;
  padding: 2px;
}
input
{
	font-size: 15px;
	background-color: white;
	width:20%;
	padding: 13px 13px 14px 18px
	box-sizing: border-box;
	color:steelblue;
}
input:focus
{
	background-color: white;
	border:3px solid steelblue;
	outline:none;
}

.dropbtn {
  background-color: black;
  color: lightsteelblue;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;

}
.dropbtn:hover
{
	background-color: steelblue;
	color: black;
}

.fa-home
{
	color: white;
	size:5px;
	text-align: center;
}
.fa-home:hover
{
	background-color: steelblue;
	color: black;
}
.fa-star
{
	color: gold;
}
.active
{
	display: none;
}
.disp
{
	display: none;
}
@media(max-width: 825px){
	body
	{
	background-image : url("https://eatforum.org/content/uploads/2019/02/XPJ1KSHQ-1200x675.jpg"); 
    /* min-height: 500px;   */
 
    background-position: center center; 
    background-repeat: no-repeat; 
	background-size: cover;
	}
	#container
	{
		width: 80%;
	}
	li
	{
		margin: 1px;
		display: block;
	
	}
	ul
	{
		margin-bottom: 1px;
		background-color: inherit;
	
	}
	select
	{
		width: 100%;
	}
	.dropbtn
	{
		margin-top: 5px;
		border-radius: 10px;
	}
	input 
	{
		width: 95%;
		padding: 2px;
		border: 1px solid black;
		align-self: center;

	}