button{
	background-color: rgb(255, 191, 73);
	border:none;
	color: white;
	vertical-align: middle;
	margin-left: 40%;
	margin-top: 50px;
	padding: 25px 80px;
}
button:hover{
	background-color: rgb(245, 165, 61);
}
body{
	margin: 0;
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 38px;
	background-color: beige;
}
.left{
	display: flex;
}
.navbar > .left > div{
	display: flex;
	margin-right: 20px;
	text-transform: uppercase;
}
.home{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5;
}
.home a{
	color: gray;
	text-decoration: none;
	transition: color 0.5s;
}
.home :hover{
	border-bottom: 1px solid black;
}
.home a:hover{
	color:black;
}
.right input[type=text]{
	float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.navbr .right button{
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.navbar .right{
	float: right;
}
.items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}